   .left {
     background: #3e01cc;
     position: absolute;
     width: 250px;
     height: 850px;
     left: 0px;
     top: 0px;
   }
   ul{
     list-style: none;
     margin-top: 80px;
   }
   .right {
  position: absolute;
  width: 1050px;
  height: 850px;
  left: 220px;
  top: 0px;
  background: #e3e2e2;
  border-radius: 38px 0px 0px 38px;
}
.search {
  position: absolute;
  background-color: rgb(222, 214, 214);
  margin-left: 300px;
  border-radius: 25px;
  margin-top: 5px;
  width: 350px;
  padding: 20px;
}
.box{
    margin-left: 70px;
    margin-top: -1px;
    width: 650px;
    height: 500px;
    background-color: white;
}