#p1{
    text-align: center;
    text-decoration: dotted;
}
body{
    background-image: url("https://wallpapercave.com/wp/wp4676581.jpg");
    background-size: cover;
    background-position: center;
}